<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.egl.eclipse.dt.launching.EglLaunchConfigurationDelegate">
    <booleanAttribute key="appendToFile" value="false"/>
    <listAttribute key="defaultFormatters"/>
    <intAttribute key="egxGenerateTo" value="1"/>
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <intAttribute key="generateTo" value="1"/>
    <stringAttribute key="implementation_name" value="Sequential EGX"/>
    <listAttribute key="models">
        <listEntry value="#Wed Mar 19 22:48:48 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/CapellaModeller.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=Ecore&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/CapellaModeller.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Wed Mar 19 22:54:48 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/Activity.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=activity&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/Activity.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Wed Mar 19 22:54:57 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/Behavior.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=behavior&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/Behavior.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Wed Mar 19 22:55:14 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/CapellaCommon.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=capellacommmon&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/CapellaCommon.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Wed Mar 19 22:55:42 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/CompositeStructure.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=cs&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/CompositeStructure.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Wed Mar 19 22:57:33 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/FunctionalAnalysis.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=fa&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/FunctionalAnalysis.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Wed Mar 19 22:56:35 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/Information.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=information&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/Information.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Wed Mar 19 22:56:43 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/Interaction.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=interaction&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/Interaction.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Wed Mar 19 22:56:52 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/libraries.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=libraries&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/libraries.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Wed Mar 19 22:57:11 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/re.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=re&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/re.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
        <listEntry value="#Thu Mar 20 01:49:15 CST 2025&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/dut.cs.sysmline/metamodel/Capella/CapellaCore.ecore&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=capellacore&#13;&#10;modelUri=platform\:/resource/dut.cs.sysmline/metamodel/Capella/CapellaCore.ecore&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <stringAttribute key="outputDirPath" value=""/>
    <stringAttribute key="outputFilePath" value=""/>
    <listAttribute key="parameters"/>
    <booleanAttribute key="produceTrace" value="false"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/dut.cs.sysmline/transform/Ecore2ETL/Ecore2ETL.egx"/>
    <stringAttribute key="templateFactoryType" value="org.eclipse.epsilon.egl.EglFileGeneratingTemplateFactory"/>
    <stringAttribute key="traceDestination" value=""/>
</launchConfiguration>
